@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Roboto:wght@400;500&family=Stardos+Stencil&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Stardos Stencil',sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: #FEFBF6; */
  /* background-color: #242424; */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  */

}



button{
  width: 5.5rem;
  margin: 10px;
  height: 3rem;
  border-radius: 8px;
  border: 0.5px solid #BAD7E9;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'Stardos Stencil', cursive, sans-serif;
  background-color: #1a1a1a;
  color: #FEFBF6;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a{
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
li,a{
  list-style: none;
}
/* Nav bar */
.navbar{
  width: 100%;
  height: 3rem;
  display: flex;
  font: 400 1.2rem 'Stardos Stencil',sans-serif;
  background-color: #009FBD !important;
  color: #FEFBF6;

}
.navbar > ul{
  display: flex;
  gap: 2.5rem;
  margin-right: 2rem;
  cursor: pointer;
}
.navbar > h4{
  letter-spacing: 0.5px;
  border: 2px solid #BAD7E9;
  margin-left: 1rem;
  padding: 1px;
  text-align: center;
  cursor: pointer;
}

.container1{
  display:flex ;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #242424;
  color: #FEFBF6;
  
}
.cardText1{
  color: #FCFFE7;
  font-size: 1.5rem;
  margin: 10px;
  font-family: 'Stardos Stencil', cursive, sans-serif;

}

.card-body{
  text-align: center;
  background-color: #242424;

}
.card{
  background-color :#BAD7E9;
}

.card >input{
  width: 5rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  margin:1rem  6.5rem;
}

/* Daily Target style */
.dailyTarget{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #242424;
  color: #FEFBF6 !important;
  padding-bottom:1rem ;
}

.textType{
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: center;
  justify-content: center;
  color: #FEFBF6;
  
}
.textType >input{
  margin: 4px 0px 25px 0px;
  text-align: center;
}
.textType >P{
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 0;
  
}

.radioBtn >input{
  margin-left: 20px;
  cursor: pointer;

}
.cardText2{
  color: #FCFFE7;
  font-size: 1.8rem;
  margin: 8px;
  font-family: 'Stardos Stencil', cursive, sans-serif;

}
.resultBtn{
  width: 8rem;
  height: 3rem;
  font-size: 1.1rem;
}
.inputArea{
  background-color: #FCFFE7;
  font-family: 'Stardos Stencil', cursive,;
  color: red;
  font-size: 1.4rem;
  height: 2.5rem;
  width: 60%;
  border: 3px solid #BAD7E9;
}

/* footer */
footer{
  display: flex;
  background-color: #009FBD !important;
  color: #fff !important;
}

footer >ul{
display: flex;
gap: 1rem;
padding: 1rem;
margin: 0;
cursor: pointer;
}


/* Media query */
@media (max-width: 726px) {
  .container1{
    display: flex;
    flex-wrap: wrap;
  }
  .navbar{
    display: flex;
    flex-direction: column;
  }
  .navbar >ul{
   display: flex;
   gap: 10px;

  }
  .navbar >ul >li{
    font-size: 1rem;
    padding: 5px;
    
  }
}